#header {
  background-color: #CCEEFF;
  text-align: center;
  height: 300px;
}
.col-md-4{
  background-color:#CA6F1E;
  height:90vh;
  width: 25%;
  margin-left:-57px;
}
body{
  background-color: #A6ACAF;
}
h4{
  color: white;
}
